html,body{ 
    margin:0; 
    padding:0; 
    height:100%; 
    width:100%; 
    background: #303050;
}

#container3d{
    height:100%;
    width:100%;
    overflow:hidden; /* or overflow:auto; if you want scrollbars */
}

.info {
    font-size: xx-large;
    color: darkgray;
    text-align: center;
    position: absolute;
    bottom: 30px;
}